body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn.btn-default {
  border: 1px solid #00c2a8;
  background: #00c2a8;
  outline: none;
  color: white;
}
.btn.btn-default:hover {
  background: #00c267;
  border-color: #00c267;
}

.header {
  background: #00c2a8;
  height: 100px;
  padding: 10px;
}
.footer {
  background: #00c2a8;
  padding: 30px;
}
